.crumb a {
    font-family: "Roboto";
    max-width: 100%;
    margin-left: 8em;
    color:#000;
    font-weight: 400;
}

.breadcrumb >*{
    display: inline-block;
    margin-right: 10px;
}

.breadcrumb .crumb:after{
    content: '>';
    margin-left: 10px;
}

.breadcrumb .crumb:last-child:after{
    display: none;
}

.breadcrumb .crumb a {
    font-family: "Roboto";
    font-weight: 400;
    color: #000;

}