.crumb a {
    font-family: "Roboto";
    max-width: 100%;
    margin-left: 8em;
    color:#000;
    font-weight: 400;
}

.crumb >*{
    display: inline-block;
    margin-right: 10px;
}

.crumb:after{
    content: '>';
    margin-left: 10px;
}

.crumb:last-child:after{
    display: none;
}

