.button {
    background-color: #664400;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    margin-left: 6em;
    margin-top: 2em;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    
}

.button:hover {
    background-color: #de9a11ac;
}

