.container {
  display: grid;
  background-color: black;
  height: 22vw;
  max-width: 100%;
}

.container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5vw;
  color: white;
  margin-top: 1%;
  margin-left: 9%;
  margin-bottom: 1%;
  line-height: 1
}

.container p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5vw;
  color: #b3b3b3;
  margin-left: 9%;
  line-height: 100%;
}

.cachorro {
  max-width: 100%;
  display: block;
  width: 30%;
  position: relative;
  bottom: 38%;
  left: 60%;
}

.pets {
  display: flex;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  height: 5vw;
  margin-left: 9%;
  margin-top: 15%;
  margin-bottom: 12%;
}

.pets h2{
  font-size: 2vw;
}

.lista {
  display: flex;
  margin-top: 1%;
}
.lista a{
  margin-right: 10%;
}

.lista_pets{
  height: 9vw;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.lista_pets:hover{
  transform: scale(1.1);
  opacity: 0.9;
}

.quizAmizade {
  height: 30vw;
  background-color: black;
}

.quizAmizade h3 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5vw;
  color: #b3b3b3;
  margin-left: 9%;
  padding-top: 5%;
}

.quizAmizade h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3vw;
  color: white;
  margin-top: 1%;
  margin-left: 9%;
}

.quizAmizade p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5vw;
  color: #b3b3b3;
  margin-left: 9%;
  padding-top: 2%;
}

.clientes {
  background-color: white;
  height: 30vw;
}

.clientes h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2vw;
  color: #000;
  margin-top: 1%;
  margin-left: 9%;
  padding-top: 1%;
}

.textoCliente {
  font-family: "Roboto";
  font-size: 1.3vw;
  text-align: left;
  margin-left: 50vw;
  padding-top: 20px;
}

.imgCliente {
  
  width: 20%;
  position: relative;
  bottom: 55%;
  left: 9%;
}

.clientes h2 {
  font-family: "Roboto";
  font-size: 2vw;
  margin-left: 50vw;
  padding-top: 1%;
}
