.section_home{
    background-color:black;
    height: 20em;
    
}


.titulo_home{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin-left: 8em;
    color: #fff;
    
}

.texto_home {
    font-family: "Roboto";
    font-weight: 400;
    color: #b3b3b3;
}