.titulo_home{
    display: grid;
    background-color: black;
    height: 20em;
}

.h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 10px;
    margin-left: 108px;
    
}

.p { font-family: "Roboto";
    font-weight: 400;
    color: #b3b3b3;
    margin-left: 108px;
    
}

.cachorro {
    margin-left: 45em;
    position: relative;
    bottom: 16em;  
    
}