
.list {
    display: flex;
    list-style: none;
    margin-left: 50em;
    text-decoration: none;
    margin-right: 50em;
    
}

.item {
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.item a {
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
      
    
}
.animal {
    display: flex;
    height: 18%;
    justify-content: space-between;
    background-color: black;
    padding: 1em;
    align-items: center;
    max-width: 100%;
    
}

.logo {
    margin-left: 25px; 
}

