.animal {
    display: flex;
    height: 18%;
    background-color: black;
    /*padding: 1em;*/
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    
}

.list {
    display: flex;
    list-style: none;
    text-decoration: none;  
    margin-right: 10em;  
}

.item {
    margin-right: 1em;
    text-decoration: none;
    color: #fff;
    list-style: none;
}

.item a {
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
     
}

.logo {
    margin-left: 6em; 
}

