.quizImg {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 549px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}


.text {
  padding-right: 200px;
  cursor: pointer;
}

.text h1,
.text p,
.text button {
  margin-top: 20px;
}

.text p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.text h1 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}


.nQuizContainer {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
}


