.quizImg {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 549px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #A66E00;
  color: white;
}

.button.hovered {
  background-color: #A66E00;
  color: white;
}

.text {
  padding-right: 200px;
  cursor: pointer;
}

.text h1,
.text p,
.text button {
  margin-top: 20px;
}

.text p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.text h1 {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.button:hover {
  background-color: #A66E00;
  color: white;
}

.button.hovered {
  background-color: #A66E00;
  color: white;
}

.nQuizContainer {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #664400;
  color: white;
  border: none;
  font-size: 16px;
  width: 165px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
